import Core
import normalizr from normalizer.css 
import GoogleFont from "https://api.googlefont.com/~./"



let - fileprivate - prefixes = [
  "-webkit-",
  "-moz-",
  "-ms-",
  "-o-"
]

struct - public - Colors: color {
  var default-color = #fafbfc,
    btn-default-color = #333,
    btn-danger-color = #fbf45
  let font-color = #333,
    font-inline-color = #fff
}


class - public - Animation {

  // Auto prefix animation 
  def animation($anim_name: string) {
    animation: $anim_name
    for prefixes in i {
      prefixes.i + "animation": $anim_name
    }
  }

  // Make keyframes
  def -> CSSObject genKeyframe($name: String) {
    for prefixes in i {
      "@" + prefixes.i + keyframes {
        insert
      }
    }
  }
}


class - public - Utils {

  def size($width: pixel, $height: pixel = $width) {
    width: $width
    height: $height
  }
}

// Style
// -----------------------------------------------------

let util = Utils()
let color = Colors()


@* {
  margin: 0
  font-family: GoogleFont.font-family
}


@.btn {
  color: color.btn-default-color-color
  util.size(160px, 60px)


  @.danger {
    color: color.btn-danger-color
  }

  @.primary {
    color: color.btn-primary-color
  }
}
